'.source.processing':
  'draw':
    'prefix': 'se'
    'body': 'void draw() {\n\t$1\n}'
  'float':
    'prefix': 'float'
    'body': 'float $1 = $2;'
  'float[]':
    'prefix': 'float[]'
    'body': 'float[] $1 = new float[$2];'
  'int':
    'prefix': 'int'
    'body': 'int $1 = $2;'
  'int[]':
    'prefix': 'int[]'
    'body': 'int[] $1 = new int[$2];'
  'opengl':
    'prefix': 'gl'
    'body': 'import processing.opengl.*;'
  'setup':
    'prefix': 'se'
    'body': 'void setup() {\n\t$1\n}'
  'size':
    'prefix': 'size'
    'body': 'size($1, $2, ${3:P3D});'
  'string':
    'prefix': 'str'
    'body': 'string $1 = $2;'
  'string[]':
    'prefix': 'string[]'
    'body': 'string[] $1 = new string[$2];'
  'void method':
    'prefix': 'void'
    'body': 'void $1($2 $3) {\n\t$4\n}'
